
<div class="landing-page">
    <div class="page-content">
        <h2>This is the home page!!!</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus sequi dolor exercitationem expedita repudiandae cum nihil debitis. Possimus, assumenda rem recusandae, ut eius aliquam facere, nemo minima ratione veniam deserunt.</p>
        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Sign Up', new_user_path %>
    </div>
</div>