.sign-up-box {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.sign-up-box h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 40px 0;
}

.sign-up-box input[type='email'],
.sign-up-box input[type='password'] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    text-align: center;
    border: 2px solid #0d4a86;
    border-radius: 20px;
    width: 200px;
    outline: none;
    color: white;
    transition: 0.25s;
}

.sign-up-box input[type='email']:focus,
.sign-up-box input[type='email']:hover,
.sign-up-box input[type='password']:focus,
.sign-up-box input[type='password']:hover {
    width: 250px;
    border-color: #2ecc71;
}

.sign-up-box input[type='submit'] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto 10px auto;
    padding: 10px 40px;
    text-align: center;
    border: 2px solid #0d4a86;
    border-radius: 20px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.sign-up-box input[type='submit']:hover {
    background-color: #2ecc71;
    border-color: #2ecc71;
}